<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harishmurari.curries">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.harishmurari.curries.ui.MainMenuActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.harishmurari.curries.ui.VegetarianActivity"
            android:parentActivityName=".ui.MainMenuActivity"/>
        <activity android:name="com.example.harishmurari.curries.ui.LunchBoxActivity"
            android:parentActivityName=".ui.MainMenuActivity"/>
        <activity android:name="com.example.harishmurari.curries.ui.NonVegetarianActivity"
            android:parentActivityName=".ui.MainMenuActivity"/>
        <activity android:name="com.example.harishmurari.curries.ui.WhiteRiceActivity"
            android:parentActivityName=".ui.MainMenuActivity"/>
    </application>

</manifest>